footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
    background-color: #292f40;
    color: #ffff;

    &.footer-fixed {
        position: fixed;
        bottom: 0;
        width: 100%;
    }


    @media screen and (max-width: 1024px) {
        flex-direction: column;

        .footer-inner-center {
            display: flex;
            flex-direction: column;
            margin: 25px 0;
            align-items: center !important;
        }

        .footer-inner-left {
            display: flex;
            flex-direction: column;
            text-align: center;

            .contact-icon{
                margin-top: 10px;
                align-items: center;
            }

            h2::after {
                width: 100px !important;
                margin: 10px auto !important;
            }
        }

        .footer-inner-right {
            align-items: center !important;

            div{
                margin-right: 0 !important;
                margin-left: 8px;
                justify-content: center !important;
            }

            h2::after {
                width: 150px !important;
                margin: 10px auto !important;
            }
        }


    }

    a {
        color: #ffff;
        text-decoration: underline;
    }

    .footer-inner-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        div {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-right: 15px;

            #facebook:hover {
                color: #4267B2;
                transition: all 0.355s ease-in-out;
                cursor: pointer;
            }

            #instagram:hover {
                color: #bb5a7a;
                transition: all 0.355s ease-in-out;
                cursor: pointer;
            }

            #twitter:hover {
                color: #1DA1F2;
                transition: all 0.355s ease-in-out;
                cursor: pointer;
            }

            #snapchat:hover {
                color: #FFFC00;
                transition: all 0.355s ease-in-out;
                cursor: pointer;
            }

            svg {
                width: 105px;
                height: 85px;
                fill: #ffff;
                cursor: pointer;
                margin-bottom: 2px;
                margin-left: -5px;

                &:hover {
                    transition: all 0.355s ease-in-out;
                    fill: #f46c24;
                }
            }
        }

        h2 {
            color: #ffff;
            font-size: 30px;

            &::after {
                content: "";
                height: 1px;
                width: 40%;
                margin: 10px 100px;
                display: block;
                background-color: #ffff;
                text-align: center;
            }
        }

        i {
            font-size: 25px;
        }
    }

    .footer-inner-center {
        display: flex;
        align-items: center;

        span {
            color: rgba(128, 128, 128, 0.719);
        }
    }

    .footer-inner-left {
        display: flex;
        flex-direction: column;

        .contact-icon {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .footer-contact {
                text-decoration: none;

                &:hover {
                    color: rgba(161, 161, 161, 0.688);
                    text-decoration: underline;
                }
            }

            #pointer_map {
                margin-left: 4px;
            }
            i {
                font-size: 25px;
                //margin-right: 5px;
            }
                span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                }

                p {
                    font-size: 15px;
                }
            }

            h2 {
                //margin: 25  px 0;
                color: #ffff;
                font-size: 30px;

                &::after {
                    content: "";
                    height: 1px;
                    width: 80px;
                    margin: 10px 0;
                    display: block;
                    background-color: #ffff;
                }
            }
        }
    }