@font-face {
    font-family: "Birds of Paradise";
    src: url("https://fonts.cdnfonts.com/css/birds-of-paradise-personal-use");
}

h2,
h3,
a {
    color: #ffff;
    text-decoration: none;

    &:hover {
        transition: all 0.3s ease-in-out;
    }
}

.dc-button {
    svg {
        font-size: 25px;
    }
}

.logo {
    margin: 0;
    font-size: 1.45em;
    font-weight: 800;

    div {
        display: flex;
        flex-direction: column;

        .span-h1-garage {
            font-size: 21px;
            text-align: start;
            text-transform: none;
            color: red;
            display: flex;
            flex-direction: row;
            font-family: "Birds of Paradise";

            .span-h1-bar::after {
                content: "";
                height: 3px;
                width: 150px;
                margin: auto;
                margin-left: 5px;
                margin-top: 18px;
                display: block;
                background-color: $red-color;
            }
        }
    }
}

.main-nav {
    margin-top: 5px;
    margin-right: 50px;
    font-weight: 500;
    gap: 20px;
}

.button-sidebar {
    display: none;

    @media screen and (max-width: 1024px) {
        display: block;
        margin-right: 20px;

    }
}

.logo a,
.main-nav a {
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    //text-align: center;
    //display: block;
}

.main-nav a {
    color: #ffff;
    font-size: .99em;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -3.5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width 0.4s ease;
    }

    &:hover{
        &::before {
            width: 100%;
        }
    }
    
}

.main-nav a:hover {
    color: rgb(167, 165, 165);
}

$header-height: 75px;

.header {
    height: $header-height;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: $default-color;
    position: fixed;
    width: 100%;
    box-shadow: 0 .125rem 0rem 0px rgba(0, 0, 0, 0.075);
    transition: height .4s cubic-bezier(.68, -0.55, .27, 1.55);

    &-logo a {
        display: flex;
        align-items: center;
        gap: 30px;
        text-align: center;

        img {
            width: 115px;
            filter: invert(1);
        }
    }

    &.scrolled {
        height: $header-height - 10px;
        box-shadow: 0 0.125rem 2rem 2px rgba(0, 0, 0, 0.100);
    }

    &-space {
        height: $header-height;
    }

    @media screen and (max-width: 1024px) {
        .main-nav {
            display: none !important;
        }
    }
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
    }

    .header {
        align-items: center;
        justify-content: space-between;

        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

}

@media (max-width: 769px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}