.propos {
    margin: 2rem 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 7rem;


    //border-bottom: 1px solid black; //Voir bug border pour la rendre plus petite    
    
    .propos-inner {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1::after{
            content: "";
            height: 2px;
            width: 110px;
            margin:  2rem auto;
            display: block;
            background-color: $red-color;
        }

        .propos-text {
            max-width: 1450px;
            color: $greyText;
        }

        .propos-video {

            h1::after{
                content: "";
                height: 2px;
                width: 100px;
                margin:  2rem auto;
                display: block;
                background-color: $red-color;
            }
            display: flex;
            flex-direction: column;
            gap: 50px;

            &-inner {
                display: flex;
                flex-direction: column;
                gap: 50px;
                //border: 2px solid $default-color; // A revoir
                //border-radius: 55px;
                padding: 35px 85px;

                &-single{
                display: flex;
                gap: 100px;
                align-items: center;
                justify-content: center;


                p{
                    font-size: 35px;
                }
            }
            }
            
        }
        
        h1 {
            margin: 7rem 0;
            font-size: 45px;
            margin-bottom: 4rem;

            //Pour faire un ligne de séparation pour stylisé le site
            
        }

        p{
            font-size: 10px;
        }
    }

}