.scroll-top {
  position: fixed;
  bottom: 100px;
  right: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  opacity: 0;
  visibility: hidden;

  color: rgba(0,0,0,0.7);
  padding: 20px;
  font-size: 2em;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
  }

  &.activate {
    opacity: 1;
    visibility: visible;
  }
}
html, body {
  scroll-behavior: smooth;
}