@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 0.925rem;
    margin: 0;
    
     ul {
        list-style-type: none
     }
}



@import 'variable';
@import 'navbar';
@import 'hero';
@import 'propos';
@import 'client/contact';
@import 'admin/login';
@import 'service';  
@import 'map';
@import 'footer';
@import 'client/voiture';
@import 'admin/sidebar';
@import 'admin/annonce';
@import 'admin/home';
@import 'pagination';
@import 'scrollup';
@import 'admin/show_annonce';
@import 'admin/edit_annonce';