.card-container {
    max-width: 1500px;
    margin: 0 auto;

    .title-voiture {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 45px 0;
        font-size: 20px;
        letter-spacing: 2px;

        h4 {
            color: rgba(128, 128, 128, 0.562);
            font-size: 15px;
            letter-spacing: 1px;
        }
    }
}

.cards-contain {
    margin-bottom: 25px;

    .search-annonce {
        display: flex;
        justify-content: end;
        margin-right: 15px;
        margin-bottom: 55px;

        input {
            padding: 10px 15px;
            border: 2px solid $greyText;
            border-radius: 3px;
        }

        ;
    }

    .pagination-annonce {
        .pagination-container {
            padding: 0 35px;
        }
    }
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    .empty-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: 50vh;
        padding: 25px;
        background-color: $grey;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 15px;

        div {
            img {
                width: 250px;
            }
        }

        p {
            font-size: 25px;
            color: black;
            text-align: center;
        }
    }


    .cards-item {
        display: flex;
        padding: 1rem;
        max-width: 375px;
        width: 100%;

        .card {
            background-color: #ffff;
            border-radius: 0.25rem;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .card-image {
                border: 3.5px solid black;
                display: flex;

                justify-content: center;

                img {
                    width: 330px;
                    height: 215px;
                }
            }

            .card-content {
                display: flex;
                height: 100%;
                justify-content: space-between;
                flex-direction: column;
                padding: 1rem;
                background: linear-gradient(to bottom left, #252835d6 40%, #40434E 100%);

                .card-list {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 0;
                    margin: 5px 0;
                    align-items: start;
                    color: #fff;

                    &::after {
                        content: "";
                        height: 1px;
                        width: 120px;
                        margin: 10px auto;
                        display: block;
                        background-color: #fff;
                    }
                }

                .card-title {
                    color: #F4FAFF;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 30px;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                    margin: 0;
                    text-align: center;

                    &::after {
                        content: "";
                        height: 1px;
                        width: 85px;
                        margin: 15px auto;
                        display: block;
                        background-color: #fff;
                    }
                }

                .card-text {
                    color: #fff;
                    font-size: 0.875rem;
                    margin-bottom: 15px;
                }

                .card-date {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 5px;

                    span {
                        color: #fff;
                    }
                }

                .card-button {
                    color: #ffffff;
                    padding: 0.8rem;
                    font-size: 14px;
                    text-transform: uppercase;
                    border-radius: 4px;
                    font-weight: 400;
                    display: block;
                    width: 100%;
                    cursor: pointer;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    background: transparent;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.12);
                        transition: $hoverTransition;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .empty-card {
        div {
            img {
                width: 170px !important;

            }
        }
        p {
                font-size: 16px !important;
        }
    }

}