.main-home-admin {
    margin-left: $sidebar-width;

    .header-home-admin {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
        background-color: $black-color;
        color: #fff;

        h1::after{
            content: "";
            height: 1.5px;
            width: 5%;
            margin:  2rem auto;
            display: block;
            background-color: $red-color;
        }
    }
}