.main-show-annonce {
    margin-left: $sidebar-width;

    .inner-show-annonce {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;

        .inner-title {
            display: flex;
            justify-content: center;
            background-color: $black-color;
            width: 100%;
            padding: 66px 0;   
            
        }
        h1 {
            color: #fff;
            font-size: 45px;
            text-decoration: underline;
        }

    }

    .inner-show-annonce-text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 25px;
        word-spacing: 5px;

        background-color: #fff;
        padding: 55px 200px;
        border: 1.5px solid gray;
        border-radius: 5px;


        strong {
            text-decoration: underline;
        }

        .div-button-show-annonce {
            margin-top: 25px;
            display: flex;
            justify-content: center;

            .button-show-annonce {
                font-size: 20px;
                color: #fff;
                background-color: rgba(246, 52, 52, 0.881);
                padding: 10px 22px;
                border-radius: 3px;

            }
        }


        a {
            color: $dark-blue;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
